.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  background-color: grey;
  width: 500px;
  height: 100px;
  box-shadow: 10px 5px 5px black;
}
